<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= restaurant.title %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Share
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Export
        </button>
      </div>
    </div>
  </div>
  
  <div class="col py-3">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Restaurant List</a></li>
            <li class="breadcrumb-item active"><%= restaurant.title %></li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">
        <b>Last Updated <%= new Date(restaurant.updatedAt).toUTCString() %> </b>
        <b>RestaurantId:</b> <%= restaurant._id %>
      </div>
    </div>
  </div>
  
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Title:</b></div>
        <div class="col"><%= restaurant.title %></div>
      </div>
    </li>
  
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Image:</b></div>
        <div class="col">
          <img src="<%= restaurant.imageUrl %>" alt="Restaurant Image" style="max-width: 100px;">
        </div>
      </div>
    </li>
  
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Foods:</b></div>
        <div class="col"><%= restaurant.foods.join(", ") %></div>
      </div>
    </li>
  
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Time:</b></div>
        <div class="col"><%= restaurant.time %></div>
      </div>
    </li>
  
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Pickup:</b></div>
        <div class="col"><%= restaurant.pickup ? "Yes" : "No" %></div>
      </div>
    </li>
  
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Delivery:</b></div>
        <div class="col"><%= restaurant.delivery ? "Yes" : "No" %></div>
      </div>
    </li>
  
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Open:</b></div>
        <div class="col"><%= restaurant.isOpen ? "Yes" : "No" %></div>
      </div>
    </li>
  
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Rating:</b></div>
        <div class="col"><%= restaurant.rating %></div>
      </div>
    </li>
  
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Rating Count:</b></div>
        <div class="col"><%= restaurant.ratingCount %></div>
      </div>
    </li>
  
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Code:</b></div>
        <div class="col"><%= restaurant.code %></div>
      </div>
    </li>
  
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Location:</b></div>
        <div class="col"><%= restaurant.location.address %>, <%= restaurant.location.postalCode %></div>
      </div>
    </li>
  
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Date Created:</b></div>
        <div class="col"><%= restaurant.createdAt %></div>
      </div>
    </li>
  
    <li class="list-group-item">
      <div class="row">
        <div class="col" style="max-width: 140px"><b>Date Modified:</b></div>
        <div class="col"><%= restaurant.updatedAt %></div>
      </div>
    </li>
  </ul>
  